{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DwTestTaskFront</title>
    <base href="/">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link href="{% static 'css/styles.94af0f1e79185fe94642.bundle.css' %}" rel="stylesheet"/>
</head>
<body>
<app-root></app-root>
<script type="text/javascript" src="{% static 'js/inline.15859351f38823a886af.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'js/polyfills.abdf53ca655716e505e0.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scripts.4fea58866b9f1f3f518c.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.cc41ab7d70adb7699d8b.bundle.js' %}"></script>
</body>
</html>